{% extends "image_dist/base.html" %}
{% load staticfiles %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'vm_dist/css/chartstyle.css' %}" />
<script type="text/javascript" src="{% static 'vm_dist/js/image_dist.js' %}"></script>
<script type="text/javascript" src="{% static 'vm_dist/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'vm_dist/js/vm_dist_api.js' %}"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script>

var img_list={
{% for img_key, site_list in site_image_array %}
    '{{img_key}}':[
    {% for site in site_list %}
    {'site_name':'{{site.site_name}}','site_script':'{{site.site_script}}','site_status':'deployed' },
	{% endfor %}
	],
{% endfor %}
}

var site_list=[
{% for site in site_set  %}
  {'site_name':'{{site.site.site_name}}','site_script':'{{site.user_site_script}}' },
{% endfor %}
]

var test_data = [5,6,7,8,7,2,3,7,5,7]


var OPSDATA = {'save':img_list}
var OPSURL = {'save':'/image_dist/jsonrequestpost/'}
var OPSVIEW = {'save':{'div':'info'}} 
var OPS_CB = {'save':save_local_cb}

function save_local_cb(msg){
	console.log("receiving response");
	console.log(msg);
	img_list = JSON.parse(msg);
	OPSDATA['save']=img_list;
	document.getElementById("save_button").disabled=false;
	localinit();
}

function save(){
	console.log("sending data")
	console.log(JSON.stringify(img_list));
    document.getElementById(OPSVIEW['save'].div).innerHTML="'save' Operation Inprogress ..."
	document.getElementById("save_button").disabled=true;
	api.request('save');
}

function add_image(site_name,site_script,image_name){
	//console.log("add "+site_name+":"+site_script+":"+image_name);
	
	img_sites = img_list[image_name];
	//console.log("sites : "+img_sites);
	site={}
	site['site_name']=site_name;
	site['site_script']=site_script;
	site['site_status']='undeployed';
	//console.log("add"+site);
	img_sites.push(site);
}

function remove_image(site_name,site_script,image_name){
	//console.log("rem "+site_name,site_script);
	
	img_sites = img_list[image_name];
	
	for(idx in img_sites){
		site_info = img_sites[idx];
	    //console.log("for image "+image_name+" checking "+site_info.site_name+","+site_info.site_script);
		if(site_info.site_name == site_name && site_info.site_script == site_script){
			console.log("found site to remove"+site_name+" "+site_script);
			img_sites.splice(idx,1);
		}//endif
		
	}//endfor

}

function localinit(){
	//console.log("localized init updating chart");
	document.getElementById("chart").innerHTML="";
	
	var idx=0;
	for(img in img_list){
		idx=idx+1;
		
		d3.select(".chart").append("div").attr("id","img_name"+idx).attr("class","main_entry")
			.append("p").attr("class","title").text(function (d) { return img+""; } );
		
		//add deployed images
		d3.select("#img_name"+idx).append("div")
			.attr("class","entries").attr("id","inner"+idx).selectAll("div").data(img_list[img]).enter().append("p")
			.attr("title","Select to Remove Image from Site")
			.attr("class",function(d){if(d.site_status=="deployed"){return "entries";}else{return "entries_pend";}}).attr("image_name",img)
			.text(function (d) { return d.site_name; } )
			.on("click",function (d){ remove_image(d.site_name,d.site_script,this.getAttribute("image_name"));localinit();} )
			.on("mouseover", function(d){  } )
		
		//add other sites not deployed to
		for(idx1 in site_list){
		    site = site_list[idx1];
			deployed_sites = img_list[img];
			found=false;
			for(idx2 in deployed_sites){
			    dep_site = deployed_sites[idx2]
				if( (dep_site.site_name == site.site_name) && (dep_site.site_script == site.site_script) ){
					//console.log("for image "+img+" site "+site.site_name+":"+site.site_script+" is already there");
					found = true;
				}
			}
			if(!found){
				//console.log("site "+site.site_name+":"+site.site_script+" was not found so add it as not deployed");
				//add deployed images
				d3.select("#inner"+idx).append("p")
					.attr("title","Select to add Image to Site")
					.attr("class","non_entries").attr("site_script",site.site_script).attr("site_name",site.site_name).attr("image_name",img)
					.text(function (d) { return site.site_name+""; } )
					.on("click",function (d){ add_image(this.getAttribute("site_name"),this.getAttribute("site_script") ,this.getAttribute("image_name")   );localinit();} )
					.on("mouseover",function (d){} )
			}
		}
		
	}
	//console.log("done chart init");
}

function clear_Options(sel){
	while(sel.options.length>0)
		sel.remove(0);
}

function pot_sites(){
	console.log("potential site info")
 	//document.getElementById("sup_site_info").innerHTML="...";
 	//console.log("csrf-token"+csrf_token)
}


function deployed_update_site(){
	console.log("update site info")
 	//document.getElementById("dep_site_info").innerHTML="...";
}

function deployed_update_image()
{
    console.log("site change sel");
	sites=img_list[document.getElementById("dist_img_sel").value];
	console.log(sites);
	clear_Options(document.getElementById("dist_site_sel"));
	for (s in sites){
		option = document.createElement("option");
		option.text = sites[s].site_name;
		option.value = JSON.stringify(sites[s]);
		document.getElementById("dist_site_sel").appendChild(option);
	}
	//document.getElementById("dep_img_info").innerHTML="...";
	
}

function dist_image(){
	img_name = document.getElementById("dist_img_sel").value;
    json_site = document.getElementById("pot_dist_sites").value;
    console.log("site json "+ json_site);
    site_name = JSON.parse(json_site).site;
    script_name = JSON.parse(json_site).script;
    console.log("add "+site_name+" to "+img_name);
    if(img_name == null || site_name == null){
    	alert("you must select and image and a user site");
    }else{
    	//add site 
    	if (img_name in img_list){
    		console.log(img_name+" exists now check if site exists");	
    		img_sites = img_list[img_name];
    		console.log("look in "+JSON.stringify(img_sites))
    		console.log("looking for "+site_name+" "+script_name);
    		for(idx in img_sites){
    			site_info = img_sites[idx];
    		    console.log("checking stie "+JSON.stringify(site_info) );
    			if(site_info.site_name == site_name && site_info.site_script == script_name){
    				console.log("found site"+site_name+" "+script_name);
    				return;
    			}
    		}
    		//guess site is not added yet, so add it now
    		new_obj = {}
    		new_obj.site_name = site_name
    		new_obj.site_script = script_name
    		img_sites.push(new_obj)
    		console.log("look at new list "+JSON.stringify(img_sites))
    		deployed_update_image()
    	}else{
    		site_sel = document.getElementById("dist_site_sel");
    		new_opt = document.createElement("option");
    		new_opt.value=site_name;
    		site_sel.appendChild(new_opt);
    		console.log("added "+site_name+" to "+img_name);
    	}
    }
}

function rem_image(){
	img_name = document.getElementById("dist_img_sel").value;
    json_site = document.getElementById("dist_site_sel").value;
    console.log("img anme "+img_name+" site anme "+json_site);
    
    site_name = JSON.parse(json_site).site_name;
    script_name = JSON.parse(json_site).site_script;
    console.log("add "+site_name+" to "+img_name+" script "+script_name);
    
    if(img_name == null || site_name == null){
    	alert("you must select and image and a user site");
    }else{
    	//remove site 
    	if (img_name in img_list){
    		console.log(img_name+" exists now check if site exists");	
    		img_sites = img_list[img_name];
    		console.log("look in "+JSON.stringify(img_sites))
    		console.log("looking for "+site_name+" "+script_name);
    		for(idx in img_sites){
    			site_info = img_sites[idx];
    		    console.log("checking stie "+JSON.stringify(site_info) );
    			if(site_info.site_name == site_name && site_info.site_script == script_name){
    				console.log("found site"+site_name+" "+script_name);
    				img_sites.splice(idx,1);
    			}
    		}
    		
    		deployed_update_image()
    	}
    }
}
</script>
{% endblock %}

{% block titlebar %} Image Distribution Management {% endblock %}
{% block titleuser %} un: {{user_id}} {% endblock %}


{% block updateinfo %}
<table><tr><td>info:</td><td><div id="info"></div></td></tr></table>
{% endblock %}

{% block updateevent %}
events: <div id="events"></div>
{% endblock %}

{% block include %}
<div id="chart" class="chart"></div>

<input type='button' value="save" onclick="save()" id="save_button">
{% endblock %}


{% block splashbar %}<table align="center"><tr><td align="center">Managed by the University of Victoria</td></tr><tr><td> High Energy Particle Physics Computing Group</td></tr></table>{% endblock %}

